# Setup - Kör koden i denna cell. Du behöver installera pandas med pip (pip install pandas)

In [13]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

## Beskrivning

Kickstarter är en tjänst där vem som helst kan försöka få finansiering av privatpersoner och företag för att förverkliga ett projekt. Datan består några tusen projekt som varit publicerade. Om du blir osäker på vad Kickstarter är, googla! :-)

Uppgiften går ut på att använda pythonbiblioteket "pandas" för att arbeta med datan. Denna laboration förutsätter att ni har läst på och deltagit på lektioner om pandas för att behärska lösningarna.

### Använd jupyternotebook i vscode (Alternativ 1), rekommenderas
Lös notebooken i vscode. Du behöver då installera pandas med hjälp av pip eller conda, tex. "pip install pandas". Följ denna youtube-video: https://www.youtube.com/watch?v=jNk-ZmeIz6c&ab_channel=VeryAcademy
**OBS** OM DU SKA INKLUDERA EN VIRTUAL ENVIRONMENT (VENV) SÅ MÅSTE DU DÖPA DEN TILL "VENV" ELLER BYTA NAMN PÅ VAD SOM STÅR I .gitignore-filen TILL SAMMA NAMN SOM DIN VIRTUAL ENVIRONMENT. Du ska alltså inte pusha ut din virtual environment till git! I många fall behöver du ingen virtual environment (venv) utan du kan köra pip install pandas direkt. Försök byta "interpreter" genom att skriva ctrl + shift + p --> select interpreter --> testa alla dina olika versioner av python

Om du inte kan köra dina celler så ska du se till att du valt en "kernel" längst uppe till höger.


### Använd google colab för din notebook (Alternativ 2), rekommenderas ej
Du kan göra uppgiften genom att använda google colab, Du kommer att behöva ladda upp main.ipynb följt av att lägga till testdatan "kickstarter.csv". Tänk bara på att du åtminstone 2-3 gånger under tidens gång sparar filen, gör en commit i git och pushar ut. Sedan fortsätter du. Detta är nackdelen med colab, att vi inte kan jobba med git lika smidigt.

### Hur du arbetar i notebooken

- För **VARJE** cell ska koden du skrivit displaya resultatet av dina operationer så att jag kan följa stegen du tar (genom att helt enkelt skriva "df" på slutet av varje cell). För vissa celler kan du dessutom se vilken output jag förväntar mig från celler där det står "Ta ej bort denna cell", om du tar bort cellen försvinner outputten. 
- **Det ska gå att köra koden från början till slut och få samma resultat igen**
- Du ska beskriva koden i varje cell så att jag ser att du förstår vad du gör. 
- Använd dokumentationen som stöd [https://pandas.pydata.org/docs/reference/frame.html](https://pandas.pydata.org/docs/reference/frame.html)

## Sektion 1

### 1 Ladda in datasettet kickstarter.csv till en dataframe, döp den till "df"

In [14]:

df = pd.read_csv("kickstarter.csv")

### 2 Printa ut de 5 första raderna

In [15]:
df.head(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [2]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

### 3 Printa ut 20 slumpmässiga rader från datasettet

In [16]:
df.sample(20)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1341,1060096576ID,Donate to: The I Killed Everyone Trailer Fund!,Music,Music,USD,2012-01-04,1000.0,2011-11-04 23:32:57,1165.00,successful,27,US,82622$ usd,1165.00,1000.00,"Williams Fords, 91339"
962,1502567107ID,BLACKOUT - A Short Film,Experimental,Film & Video,USD,2017-12-18,1080.0,2017-12-01 19:14:59,1462.00,successful,32,US,67044$ usd,1462.00,1080.00,"Brandi Throughway, 56016"
932,848195825ID,"Pre-production for ""Dope Boy's Redemption""",Shorts,Film & Video,USD,2011-01-21,2500.0,2010-12-22 07:44:50,0.00,failed,0,US,97800$ usd,0.00,2500.00,"Natalie Points, 51487"
215,777358786ID,"""Legends: Fantasy Violin"" CD & new single ""Exc...",Classical Music,Music,USD,2013-10-28,2960.0,2013-09-27 03:36:23,4160.17,successful,199,US,50137$ usd,4160.17,2960.00,"Melinda Roads, 73409"
1837,1498412853ID,"Ryan Johnson""Dreams can come True!"" Tracking w...",Rock,Music,USD,2015-07-06,2000.0,2015-06-06 20:51:43,0.00,failed,0,US,61367$ usd,0.00,2000.00,"Taylor Trafficway, 77970"
1806,672136353ID,"""A Captain, A Uniform, A Country""",Documentary,Film & Video,USD,2012-08-25,25000.0,2012-06-26 18:47:10,0.00,failed,0,US,90199$ usd,0.00,25000.00,"Alvarez Pine, 73233"
436,938329014ID,Pepper,Children's Books,Publishing,USD,2017-08-28,11400.0,2017-06-29 18:11:12,376.00,failed,5,US,75683$ usd,376.00,11400.00,"Zoe Via, 70401"
935,1750986700ID,Out for Vengeance,Thrillers,Film & Video,EUR,2015-06-15,10000.0,2015-05-27 00:27:23,0.00,failed,0,NL,79452$ usd,0.00,11299.05,"Robles Ridges, 38450"
1141,275935927ID,78 Tarot Astral,Art,Art,USD,2017-05-05,25000.0,2017-04-12 00:59:17,34096.00,successful,407,US,90070$ usd,34096.00,25000.00,"Gloria Mews, 61987"
1046,48746369ID,The Revolution of Virtual Marketplace,Web,Technology,USD,2016-01-13,30000.0,2015-12-08 04:15:06,0.00,failed,0,US,85526$ usd,0.00,30000.00,"Miller Fall, 00790"
1751,46896419ID,"WarpWrapz, New Retro-Futuristic Goggles",Apparel,Fashion,USD,2014-10-19,5000.0,2014-09-19 20:59:03,6085.00,successful,70,US,70807$ usd,6085.00,5000.00,"Smith Row, 10970"
1508,578284372ID,The Bliss (An independent film project),Action,Film & Video,USD,2015-05-11,9000.0,2015-04-11 21:47:42,0.00,failed,0,US,78248$ usd,0.00,9000.00,"Kelli Heights, 51282"
1232,1889929392ID,The Movement,Hip-Hop,Music,USD,2012-06-20,10000.0,2012-05-21 16:57:37,0.00,failed,0,US,58623$ usd,0.00,10000.00,"Doyle Canyon, 02443"
1451,1289078406ID,"""MAGICTWEE"" tweezers with 100% Performance & s...",Product Design,Design,EUR,2016-03-16,6000.0,2016-01-16 10:01:37,8214.40,successful,236,LU,75596$ usd,9265.06,6767.43,"Russell Oval, 29102"
714,795184107ID,Around Europe in 30 Days,Documentary,Film & Video,EUR,2014-12-30,15000.0,2014-11-03 22:28:25,0.00,failed,0,IE,70434$ usd,0.00,18064.45,"Hayes Manors, 89983"
112,597127899ID,Traveling In The World Of Flowers And Colors,Video Art,Art,USD,2017-05-06,800.0,2017-03-07 13:44:48,31.00,failed,3,US,87508$ usd,31.00,800.00,"Wilkins Station, 81957"
12,286280470ID,REIKEN USA: Tire Covers Worthy of Your Adventure,Product Design,Design,USD,2017-08-21,6000.0,2017-08-01 17:14:42,6217.00,successful,55,US,73713$ usd,6217.00,6000.00,"Owens Roads, 12908"
1344,77639498ID,Butterfly Effect,Art,Art,EUR,2017-10-14,700.0,2017-09-01 15:29:09,30.00,failed,1,IT,83250$ usd,35.45,827.26,"Thomas Crossing, 36036"
1537,203653206ID,Vans Of The Wall Spring Break Commercial,Film & Video,Film & Video,USD,2015-03-11,600.0,2015-03-04 18:07:16,1.00,failed,1,US,55669$ usd,1.00,600.00,"Medina Lock, 19124"
573,850031461ID,"""BOTTLES IN THE AIR"" Album/Video Promotion",Hip-Hop,Music,USD,2015-09-27,100000.0,2015-08-04 20:23:27,0.00,failed,0,US,88179$ usd,0.00,100000.00,"Alexis Trafficway, 70748"

In [7]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
411,1698805092ID,The BLOCKing Dead - Minecraft Animated Series,Animation,Film & Video,USD,2013-01-02,1250.0,2012-12-03 19:47:19,40.00,failed,2,US,56819$ usd,40.00,1250.00,"Scott Drive, 96547"
1717,684883699ID,Train in Vain,Documentary,Film & Video,USD,2012-03-01,20000.0,2012-01-02 18:08:56,315.00,failed,12,US,98784$ usd,315.00,20000.00,"Wright Mall, 80677"
1967,1775317688ID,Adventures of SuperYam™ children's book series,Children's Books,Publishing,AUD,2015-04-14,10000.0,2015-03-15 13:42:56,10180.00,successful,81,AU,71153$ usd,7953.12,7812.50,"Dunn Loop, 69433"
1765,208829885ID,RawFoods Made Simple: a Step by Step Guide Coo...,Food,Food,CAD,2014-02-06,5500.0,2014-01-07 23:00:16,195.00,failed,10,CA,66317$ usd,176.17,4968.83,"Raymond Knoll, 74130"
1239,680193270ID,British Internet Comedy Show Invention With Br...,Webseries,Film & Video,USD,2011-01-12,500.0,2010-12-13 07:28:42,0.00,failed,0,US,74696$ usd,0.00,500.00,"Brown Ways, 37479"
304,1480109024ID,So Far Appalachia,Nonfiction,Publishing,USD,2013-05-02,9000.0,2013-04-02 14:31:07,10518.92,successful,116,US,58579$ usd,10518.92,9000.00,"Whitehead Parkways, 84263"
1361,551322994ID,Send The Old Ceremony on tour in the Old Country!,Music,Music,USD,2011-03-06,4999.0,2011-02-04 18:07:06,10336.00,successful,95,US,52717$ usd,10336.00,4999.00,"Erika Meadow, 39867"
616,264187788ID,"""Vindmøllernes sus""",Drama,Film & Video,DKK,2015-04-18,15000.0,2015-03-04 19:22:05,16770.00,successful,23,DK,83676$ usd,2433.01,2176.22,"Snyder Route, 02519"
1044,1075639643ID,UK and Ireland Tour 2013,Country & Folk,Music,USD,2013-10-15,3000.0,2013-09-30 23:05:16,5288.00,successful,54,US,92015$ usd,5288.00,3000.00,"Phillips Springs, 79935"
1531,2037409030ID,The Vik Bang Theory,Documentary,Film & Video,USD,2015-07-27,9000.0,2015-06-27 23:37:50,108.00,failed,2,US,70626$ usd,108.00,9000.00,"Alvin Valley, 64575"
1982,534281834ID,Cornwall Photo Walks,Photography,Photography,GBP,2017-09-24,1500.0,2017-08-25 18:53:18,20.00,failed,1,GB,88595$ usd,26.78,2008.33,"Ramos Dam, 94318"
709,1283733785ID,F2N2- Fantasy Football!,Film & Video,Film & Video,USD,2012-07-05,7500.0,2012-06-05 17:54:22,7525.00,successful,62,US,99125$ usd,7525.00,7500.00,"Rebecca Fields, 96519"
1308,152154408ID,"The Knife, Reinvented",Product Design,Design,CAD,2017-12-17,25000.0,2017-11-17 14:12:46,600.00,canceled,8,CA,76812$ usd,472.33,19680.39,"John Valley, 62969"
1046,48746369ID,The Revolution of Virtual Marketplace,Web,Technology,USD,2016-01-13,30000.0,2015-12-08 04:15:06,0.00,failed,0,US,85526$ usd,0.00,30000.00,"Miller Fall, 00790"
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1972,880236486ID,Lost Legends,Tabletop Games,Games,USD,2012-12-01,10000.0,2012-10-17 10:51:39,30820.01,successful,457,US,75823$ usd,30820.01,10000.00,"Thomas Junctions, 38475"
146,774008995ID,"Ex Arcana, a new breed of RPG, needs brilliant...",Tabletop Games,Games,USD,2010-07-18,7000.0,2010-06-03 06:56:53,2659.00,failed,28,US,56244$ usd,2659.00,7000.00,"Tanya Square, 84623"
1423,2061286091ID,Tortilleria en la playa,Small Batch,Food,USD,2017-08-30,65000.0,2017-07-31 20:28:00,0.00,failed,0,US,52816$ usd,0.00,65000.00,"Deborah Streets, 40760"
1650,1631041037ID,FREE AND CHEAPEST COLLEGE TEXTBOOKS APP,Apps,Technology,USD,2017-11-17,5000.0,2017-10-23 07:45:28,55.00,failed,1,US,81556$ usd,55.00,5000.00,"Crawford Common, 70855"
1263,729521749ID,Eekeemoo - Black Sun Rising,Graphic Novels,Comics,GBP,2015-05-05,3500.0,2015-03-06 17:00:10,3838.00,successful,84,GB,98577$ usd,5915.72,5394.74,"Reeves Forge, 38112"

### 4 Visa en sammanställning av information från din dataframe

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

In [8]:
# Ta ej bort denna cell

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

### 5 Printa rad 5 till rad 10 (inkluderat 10) med hjälp av .iloc

In [18]:
df.iloc[5:11]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

In [9]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

### 6 Byt index (radernas namn) så att index är baserat på den befintliga kolumnen ID, ändringen ska vara permanent (använd inte inplace)

In [19]:
df = df.set_index("ID")

In [10]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

### 7 Displaya raderna med indexet "121816660ID" till "1503277376ID" med hjälp av .loc
- Förklara varför en dataframe på många sätt är en blandning mellan en lista och dictionary, använd .iloc och .loc när du argumenterar

In [20]:
df.loc["121816660ID": "1503277376ID"]

# En dictionary har key:value pairs. 
# En dataframe består av en "key" (kolumn) och en "value" (lista med värden för kolumnen).
# På så sätt är dataframe en blandning av en lista och dictionary.
# Med .iloc kan du komma åt rader/kolumner via positionen med index, precis som man gör med listor.
# Med .loc kan du komma åt rader/kolumnet via label, precis som man gör med dictionaries via key.

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [11]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

### 8 Displaya alla rader med currencyn "USD" genom att använda en mask

In [21]:
df[df["currency"] == "USD"]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0,"Garcia Tunnel, 77525"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0,"Andrew Pike, 24782"
2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0,"Gonzalez Landing, 20367"
181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0,"Kennedy Motorway, 67176"

In [12]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0,"Garcia Tunnel, 77525"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0,"Andrew Pike, 24782"
2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0,"Gonzalez Landing, 20367"
181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0,"Kennedy Motorway, 67176"

### 9 kolumnen "pledged" har en hel del värden med 0.0. Ändra dessa till NaN-datatypen istället, använd exempelvis .loc

In [22]:
df["pledged"] = df["pledged"].replace(0.0, np.nan)

### 10 Printa ut alla rader som har NaN med sina vanliga värden (dvs. det ska inte bara vara True / False), ___Du ska använda dig av en metod/funktion___

In [23]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!

df[df["pledged"].isna()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

In [14]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

### 11 Skapa en ny kolumn som är heter pledged_real_diff som representerar skillnaden i USD mellan pledged usd och usd_pledged_result.
Hint: Du kommer behöva "cleana" "pledged usd" så att du kan utföra matematiska operationer på det genom att först städa bort onödig text och sedan konvertera det till en float.

In [24]:
df["usd pledged"] = df["usd pledged"].str.replace("$ usd", "")
df["usd pledged"] = df["usd pledged"].astype(float)

df["pledged_real_diff"] = df["usd pledged"] - df["usd_pledged_result"]

### 12 Displaya hur många kickstarterprojekt det finns uppdelat på kategori med hjälp av kolumnen main_category

In [25]:
df["main_category"].value_counts()

main_category
Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: count, dtype: int64

In [15]:
# Ta ej bort denna cell

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: main_category, dtype: int64

### 13 Vad är det högsta resultatet för usd_pledged_result? Du ska använda dig av en metod.

In [26]:
print(df["usd_pledged_result"].max())

1021481.0

In [16]:
# Ta ej bort denna cell

1021481.0

### 14 Visa de projekten med minst "usd_pledged_result" - använd dig av .min()
Du ska inte enbart visa värdet, utan hela raderna

Tips: Använd en mask!

In [27]:
df[df["usd_pledged_result"] == df["usd_pledged_result"].min()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
ID,,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632.0,0.0,23054.76,"Laura Stream, 08932",64632.0
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983.0,0.0,766.99,"Barbara Islands, 71175",50983.0
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915.0,0.0,30000.00,"Stacey Loaf, 25341",80915.0
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018.0,0.0,10000.00,"Jill Course, 75981",86018.0
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307.0,0.0,6750.00,"Collins Pike, 12819",85307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783.0,0.0,3000.00,"Jennifer Trail, 37296",61783.0
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965.0,0.0,2256.19,"Harmon Walk, 31405",63965.0
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101.0,0.0,5552.21,"Shaw Shore, 91720",77101.0
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133.0,0.0,50000.00,"Fitzpatrick Alley, 18274",71133.0
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455.0,0.0,35000.00,"Stanley Falls, 53083",53455.0

In [36]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,street_name
ID,,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932",NaN
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175",NaN
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341",NaN
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981",NaN
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296",NaN
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405",NaN
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720",NaN
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274",NaN
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083",NaN

### 15 Hitta alla rader som innehåller ordet "Cross" i kolumnen "name" med hjälp av string-metoder och displaya högsta värdet för kolumnen "pledged"

In [28]:
print(df[df["name"].str.contains("Cross")]["pledged"].max())

8618.5

In [18]:
# Ta ej bort denna cell

8618.5

## Sektion 2

### 16 Displaya hur många kickstarterprojekt uppdelat på kategori med hjälp av kolumnen main_category. Displaya topp 5 sorterat från högst till lägst.

In [29]:
df["main_category"].value_counts().head(5)

main_category
Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Name: count, dtype: int64

In [19]:
# Ta ej bort denna cell

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Name: main_category, dtype: int64

### 17 Displaya de top 10 ovanligaste KOMBINATIONERNA av "main_category" och "category" som är country "US"

In [30]:
df[df["country"] == "US"][["main_category", "category"]].value_counts().tail(10)

main_category  category
Music          Punk                1
Publishing     Literary Spaces     1
Games          Puzzles             1
Food           Spaces              1
Film & Video   Experimental        1
Crafts         Stationery          1
               Quilts              1
Film & Video   Festivals           1
Food           Farmer's Markets    1
Fashion        Ready-to-wear       1
Name: count, dtype: int64

In [20]:
# Ta ej bort denna cell

main_category  category
Music          Punk                1
Publishing     Literary Spaces     1
Games          Puzzles             1
Food           Spaces              1
Film & Video   Experimental        1
Crafts         Stationery          1
               Quilts              1
Film & Video   Festivals           1
Food           Farmer's Markets    1
Fashion        Ready-to-wear       1
dtype: int64

### 18 Dela upp projekten i grupper baserat på main_category, vad är den genomsnittliga funding-målet dom har (usd_funding_goal). Sortera resultatet från högt till lågt

In [31]:
df.groupby("main_category")["usd_funding_goal"].mean().sort_values(ascending=False)

main_category
Art             666092.309286
Technology       50913.101867
Games            33791.858656
Food             31883.745070
Theater          27964.739298
Film & Video     22852.615627
Publishing       20830.815909
Design           19979.825948
Fashion          15168.148725
Music            11747.886985
Photography       9095.636613
Crafts            7852.780536
Journalism        7384.004348
Dance             5884.845217
Comics            4545.462553
Name: usd_funding_goal, dtype: float64

In [21]:
# Ta ej bort denna cell

main_category
Art             666092.309286
Technology       50913.101867
Games            33791.858656
Food             31883.745070
Theater          27964.739298
Film & Video     22852.615627
Publishing       20830.815909
Design           19979.825948
Fashion          15168.148725
Music            11747.886985
Photography       9095.636613
Crafts            7852.780536
Journalism        7384.004348
Dance             5884.845217
Comics            4545.462553
Name: usd_funding_goal, dtype: float64

### 19 Displaya en sammanställning av samma gruppering som förra uppgiften. Den ska nu innehålla flera kolumner med minst genomsnitt, max, min, count
- Använd först .describe och displaya din output
- Använd .agg() och displaya din output, du ska endast inkludera genomsnitt, max, min, count

In [32]:
df.groupby("main_category")["usd_funding_goal"].describe()
df.groupby("main_category")["usd_funding_goal"].agg(["mean", "min", "max", "count"])

,count,mean,std,min,25%,50%,75%,max
main_category,,,,,,,,
Art,154.0,666092.309286,8.057100e+06,75.00,1500.0000,3491.06,10000.0000,1.000000e+08
Comics,47.0,4545.462553,4.111874e+03,99.00,1500.0000,3500.00,6000.0000,2.224034e+04
Crafts,56.0,7852.780536,1.439111e+04,20.00,706.1600,2750.00,8000.0000,6.962980e+04
Dance,23.0,5884.845217,6.328256e+03,350.00,2100.0000,4000.00,6529.4950,2.495840e+04
Design,153.0,19979.825948,3.112554e+04,1.00,3300.0000,10000.00,22500.0000,2.280606e+05
Fashion,102.0,15168.148725,5.088161e+04,158.18,1500.0000,5000.00,12818.4025,5.000000e+05
Film & Video,375.0,22852.615627,5.832066e+04,15.00,2244.9000,6000.00,20000.0000,7.500000e+05
Food,142.0,31883.745070,6.601281e+04,0.89,3550.0000,10000.00,33200.4075,5.000000e+05
Games,186.0,33791.858656,9.787867e+04,15.00,2716.6325,9000.00,20821.8175,7.923763e+05
Journalism,23.0,7384.004348,7.684875e+03,500.00,1857.0150,4865.00,9250.0000,2.700000e+04
Music,272.0,11747.886985,4.720634e+04,111.60,1787.7050,3929.10,8500.0000,7.256368e+05
Photography,62.0,9095.636613,1.252610e+04,100.00,2000.0000,5000.00,10000.0000,7.500000e+04
Publishing,198.0,20830.815909,1.429845e+05,10.00,2000.0000,5000.00,10000.0000,2.000000e+06
Technology,150.0,50913.101867,1.030981e+05,1.00,6000.0000,20000.00,50000.0000,9.000614e+05
Theater,57.0,27964.739298,1.323266e+05,100.00,1500.0000,3814.76,10000.0000,1.000000e+06

                        mean     min           max  count
main_category
Art            666092.309286   75.00  1.000000e+08    154
Comics           4545.462553   99.00  2.224034e+04     47
Crafts           7852.780536   20.00  6.962980e+04     56
Dance            5884.845217  350.00  2.495840e+04     23
Design          19979.825948    1.00  2.280606e+05    153
Fashion         15168.148725  158.18  5.000000e+05    102
Film & Video    22852.615627   15.00  7.500000e+05    375
Food            31883.745070    0.89  5.000000e+05    142
Games           33791.858656   15.00  7.923763e+05    186
Journalism       7384.004348  500.00  2.700000e+04     23
Music           11747.886985  111.60  7.256368e+05    272
Photography      9095.636613  100.00  7.500000e+04     62
Publishing      20830.815909   10.00  2.000000e+06    198
Technology      50913.101867    1.00  9.000614e+05    150
Theater         27964.739298  100.00  1.000000e+06     57

In [22]:
# Ta ej bort denna cell

,count,mean,std,min,25%,50%,75%,max
main_category,,,,,,,,
Art,154.0,666092.309286,8.057100e+06,75.00,1500.0000,3491.06,10000.0000,1.000000e+08
Comics,47.0,4545.462553,4.111874e+03,99.00,1500.0000,3500.00,6000.0000,2.224034e+04
Crafts,56.0,7852.780536,1.439111e+04,20.00,706.1600,2750.00,8000.0000,6.962980e+04
Dance,23.0,5884.845217,6.328256e+03,350.00,2100.0000,4000.00,6529.4950,2.495840e+04
Design,153.0,19979.825948,3.112554e+04,1.00,3300.0000,10000.00,22500.0000,2.280606e+05
Fashion,102.0,15168.148725,5.088161e+04,158.18,1500.0000,5000.00,12818.4025,5.000000e+05
Film & Video,375.0,22852.615627,5.832066e+04,15.00,2244.9000,6000.00,20000.0000,7.500000e+05
Food,142.0,31883.745070,6.601281e+04,0.89,3550.0000,10000.00,33200.4075,5.000000e+05
Games,186.0,33791.858656,9.787867e+04,15.00,2716.6325,9000.00,20821.8175,7.923763e+05
Journalism,23.0,7384.004348,7.684875e+03,500.00,1857.0150,4865.00,9250.0000,2.700000e+04
Music,272.0,11747.886985,4.720634e+04,111.60,1787.7050,3929.10,8500.0000,7.256368e+05
Photography,62.0,9095.636613,1.252610e+04,100.00,2000.0000,5000.00,10000.0000,7.500000e+04
Publishing,198.0,20830.815909,1.429845e+05,10.00,2000.0000,5000.00,10000.0000,2.000000e+06
Technology,150.0,50913.101867,1.030981e+05,1.00,6000.0000,20000.00,50000.0000,9.000614e+05
Theater,57.0,27964.739298,1.323266e+05,100.00,1500.0000,3814.76,10000.0000,1.000000e+06

                        mean           max  count     min
main_category
Art            666092.309286  1.000000e+08    154   75.00
Comics           4545.462553  2.224034e+04     47   99.00
Crafts           7852.780536  6.962980e+04     56   20.00
Dance            5884.845217  2.495840e+04     23  350.00
Design          19979.825948  2.280606e+05    153    1.00
Fashion         15168.148725  5.000000e+05    102  158.18
Film & Video    22852.615627  7.500000e+05    375   15.00
Food            31883.745070  5.000000e+05    142    0.89
Games           33791.858656  7.923763e+05    186   15.00
Journalism       7384.004348  2.700000e+04     23  500.00
Music           11747.886985  7.256368e+05    272  111.60
Photography      9095.636613  7.500000e+04     62  100.00
Publishing      20830.815909  2.000000e+06    198   10.00
Technology      50913.101867  9.000614e+05    150    1.00
Theater         27964.739298  1.000000e+06     57  100.00

### 20 Gruppera baserat på kolumnen "state" och displaya genomsnittet av backers (dvs. antal folk som betalat pengar för att stötta projektet). Vad drar du för slutsats? Det räcker med max 2 meningar.

In [33]:
df.groupby("state")["backers"].mean()

# Kickstarter projekt som har state "successful" har flest backers, vilket är rimligt. De andra states har betydligt mindre backers.

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

In [23]:
# Ta ej bort denna cell

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

### 21 Använd .apply() 
1. Undersök vilka kategorier det finns i kolumnen "state"
2. Skapa en funktion som baserat på värdena i kolumnen state är, modifierar kolumnen "usd_funding_goal" med en * om det står success, "!" för failure eller canceled, "---" för "suspended".
3. Displaya ett sample av 20 rader från din modifierade kolumn

In [34]:
# 1
df["state"].unique()

# 2
def state_check(state_value):
    if state_value == "successful":
        return "*"
    elif state_value == "failed" or state_value == "canceled":
        return "!"
    elif state_value == "suspended":
        return "---"
    else: 
        return state_value
    
df["usd_funding_goal"] = df["state"].apply(state_check)

# 3
df["usd_funding_goal"].sample(20)

array(['successful', 'canceled', 'failed', 'live', 'undefined',
       'suspended'], dtype=object)

ID
468964343ID       *
1663570215ID      *
1893749127ID      !
680193270ID       !
649860059ID       *
1798672049ID    ---
89334174ID        *
148045621ID       !
1395669409ID      *
495393331ID       !
187122117ID       *
1896953925ID      !
1689170861ID      *
798034915ID       !
1964718552ID      !
2008790153ID      !
1880805122ID      *
2078257699ID      !
1285356132ID      !
2062013225ID      *
Name: usd_funding_goal, dtype: object